<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--
        Use a content security policy to only allow loading images from https or from our extension directory,
        and only allow scripts that have a specific nonce.
    -->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'none'; font-src ${codiconsFontUri}; style-src ${webview.cspSource} ${codiconsUri};">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Coding</title>
    <link href="${styleUri}" rel="stylesheet" />
    <link href="${codiconsUri}" rel="stylesheet" />
    <link id ="highlightStyle" href="{{ vscodehighlight }}"  rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <style>
        hr.solid {
            border-top: 2px solid #000;
            border-color: rgba(90, 90, 90, 0.1);
        }

        label {
            display: block;
            font: 1rem 'Fira Sans', sans-serif;
        }
        
        input,
        label {
            width: 100%;
            margin: .4rem 0;
            border-radius: 3px;
            padding: 5px;
        }
    </style>
</head>
<body>
    <br>

<div id="query" data= "{{{ query }}}"></div>

<div id="icons">
    <div>
    <input type="search" id="search" name="q"
    aria-label="Searcht">
    
    <script>

        const vscode = acquireVsCodeApi();
        function useAdvise() {
            let text_ = document.querySelector("#search").value;
            vscode.postMessage({command: 'search', query: text_, journal: "{{ journal }}" })
        }
        let input = document.querySelector("#search");
        input.addEventListener("keyup", function(event) {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                useAdvise();
            }
        });
        window.addEventListener('message', event => {

        const message = event.data; // The JSON data our extension sent

            switch (message.command) {
                case 'update':
                    console.log(message.highlightStyle);
                    document.getElementById('highlightStyle').href = message.highlightStyle;
            }
        });
    </script>
    <!-- <button id="mrkdown">F</button>
    <script>
        function useAdvise() {
            let text_ = document.querySelector("#mrkdown").value;
            vscode.postMessage({command: 'search',text: text_})
        }
    </script>
     -->
    <!-- <button  onclick="useAdvise()">search<i class="fa fa-search"></i></button> -->
    </div>

     <div>
        <select class="form-control" name="journals" id="journals">
            {{#each journals}}
                <option value="{{ id }}">{{name}}</option>>
            {{/each}}
        </select>
    </div>
        <div>{{{ search_html_block }}}</div>
    </div>

</body>
</html>